{% for host in groups['workers_post'] %}
---
apiVersion: v1
data:
  password: {{ hostvars[host]['ipmi_password'] | string | b64encode }}
  username: {{ hostvars[host]['ipmi_user'] | string | b64encode }}
kind: Secret
metadata:
  creationTimestamp: null
  name: {{ hostvars[host]['inventory_hostname'] }}-bmc-secret
  namespace: openshift-machine-api
{% endfor %}
